<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></head>
<body>
    <div class="container mt-5">
        <h2>Lista de Producto</h2>
        <a th:href="@{/registrar_producto}" class="btn btn-primary">Registrar</a>
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>Id de producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Area</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${listaprod}">
                    <td th:text="${producto.productoId}"></td>
                    <td th:text="${producto.nombreProducto}"></td>
                    <td th:text="${producto.precioProducto}"></td>
                    <td th:text="${producto.stockProducto}"></td>
                    <td th:text="${producto.categoriaEntity.nombreCategoria}"></td>
                    <td>
    					<div class="d-flex">
							<a th:href="@{/detalle_Producto/{id}(id=${producto.productoId})}" class="btn btn-info">Ver</a>
       				 		<a th:href="@{/editar_Producto/{id}(id=${producto.productoId})}" class="btn btn-warning">Editar</a>
    					</div>
					</td>


                </tr>
            </tbody>
        </table>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>